.itensContainer {
  width: 80vw;
  display: flex;
  flex-direction: column;
  margin: 20px auto;
}
.boxContainer {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 10px 10px #000;
}

.item {
  width: 34vw;
  height: 32vh;
  margin: 10px 10px;
  text-align: center;
  background-color: rgba(50, 50, 50, 0.9);
  padding: 1rem 0.5rem;
  border-radius: 5px;
  transition: 0.5s;
  cursor: pointer;
}
.item:hover {
  box-shadow: 2px 1px 5px #66af47;
  transform: rotatez(2deg);
}
.itensTitle {
  text-transform: uppercase;
  margin-bottom: 12px;
  font-size: 1rem;
  color: #fdf7fe;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 2px;
}

.itenBody {
  text-transform: unset;
  font-size: 22px;
  color: #000;
}
.itemDescription {
  font-size: 2rem;
  text-transform: uppercase;
  color: #fdf7fe;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 2px;
  text-align: center;
}
.postsTitle {
  text-transform: uppercase;
  margin-bottom: 12px;
  font-size: 18px;
  color: #fdf7fe;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 2px;
}

.postsBody {
  text-transform: unset;
  font-size: 22px;
  color: #000;
}

.item {
  animation: animaCard 1.5s ease-in-out;
}
@keyframes animaCard {
  from {
    opacity: 0;
    margin-bottom: -30px;
  }
  to {
    opacity: 1;
    margin-bottom: 10px;
  }
}

@media (max-width: 800px) {
  .itensContainer {
    width: 90vw;
    justify-content: center;
    align-items: center;
  }
  .boxContainer {
    flex-direction: column;
    margin-top: 50px;
  }
  .item {
    width: 80vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .itemDescription {
    font-size: 1.5rem;
  }
  .buscaContainer {
    margin-top: 50px;
  }
}
.buscaContainer {
  width: 100%;
}
.busca {
  font-size: 1.2rem;
  padding: 5px;
  outline: none;
  border-radius: 5px 0 0 5px;
}
.btnBusca {
  font-size: 1.2rem;
  padding: 5px;
  border: none;
  border-radius: 0 5px 5px 0;
  background: #66af47;
  color: #fdf7fe;
  cursor: pointer;
  transition: 0.2s;
}
.btnBusca:hover {
  background: #7fc063;
}
.pagesBtn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  background: #2f2f2f;
  padding: 10px 0;
  border-radius: 5px;
  cursor: default;
}
.pageBtn {
  font-size: 1rem;
  padding: 3px 7px;
  border: none;
  margin-left: 8px;
  background: #7fc063;
  border-radius: 5px;
  transition: 0.3s;
  color: #000;
  font-weight: bold;
  cursor: pointer;
}

.opt {
  cursor: pointer;
  outline: none;
  background: rgb(117, 116, 116);
  color: #fdf7fe;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 3px;
}
